@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Bungee+Tint&family=IM+Fell+English:ital@0;1&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}


.left {
    width: 25%;
    padding: 10px;
}

.right {
    width: 75%;
    margin: 14px 0px;
    position: relative;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    padding-top: 14px;
    list-style: none;

}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 7px 0;
    font-weight: bold;
    align-items: center;
}

.heading img {
    width: 18px;
}

.library {
    min-height: 80vh;
    position: relative;
    /* border: 2px solid blue; */
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px p;
}

.footer a {
    color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 72px;

}

.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 15px;

}

.cardContainer {
    margin: 30px auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
    padding: 0 10px;
    /* add padding instead of wide margins */
    box-sizing: border-box;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

/*  for all immediate elements inside card */
.card>* {
    padding-top: 10px;
}

/* to fit image in card */
.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #00FF00;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    /* opacity: 0; */
    /* transition: all 1s ease-out; */
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(179, 179, 179);
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;

}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    color: black;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border-radius: 21px;
    width: 80px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    position: absolute;
    bottom: 0;
    background-color: rgb(194 217 194);
    width: 100%;
    padding: 12px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList ul {
    padding: 0 12px;
}

/* .songList ul li {
    list-style: none;
    list-style-type: decimal;
    display: flex;
    gap: 34px;
    cursor: pointer;
    padding: 12px 0; 
    border: 1px solid white; 
} */

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-around; 
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    border-radius: 5px;
}

.songList .info div {
    font-size: 13px;
    /* border: 1px solid red;  */
}

.info div {
    word-break: break-all; 
}

.playnow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playnow span {
    font-size: 13px;
    width: 65px; 
    /* border: 1px solid blue; */
}

.playnow img {
    height: 25px; 
    /* border: 1px solid red;  */
}